$background-color: rgb(68, 78, 83);
$text-color: rgb(173, 224, 186);

body {
    background-color: $background-color;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}