:host {
    @import "../../../../variables";

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: $nav-bar-color;
        border-right: 2px solid $background-color;
    }

    .nav-tile {
        padding: 15px;
        padding-left: 30px;
        font-size: 26px;
        transition: background-color $hover-transition-time ease, transform $hover-transition-time;
        background-color: $nav-bar-color;
        color: $fore-text-color;

        &:hover {
            transition: background-color $hover-transition-time ease, transform $hover-transition-time;
            background-color: $nav-bar-hover-color;
            cursor: pointer;
        }
    }
}