<div class="container">
    <div class="question-base-box">
        <h1>Baza pytań: </h1>
        <div class="question-base-choose">Techniczne &#8595;</div>
    </div>

    <div class="question-base">
        <table>
            <tr>
                <th>Pytanie</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>Poprawna odpowiedz</th>
            </tr>
            <tr>
                <td>Tresc</td>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>
                <td>a</td>
            </tr>
        </table>
    </div>
</div>