<div class="container" [formGroup]="settingsFormGroup">
    <div class="settings-input-box">
        <label class="settings-input-label" >Liczba pytań</label>
        <input type="number" class="settings-input" formControlName="questionCount"/>
    </div>

    <div class="settings-input-box">
        <label class="settings-input-label" >Użyte bazy pytań</label>
        <app-combo-box [options]="usersQuestionBases" formControlName="usedQuestionBases"></app-combo-box>
    </div>

    <button type="button" class="save-button" (click)="saveSettings()">Zapisz</button>
</div>