<div class="container">
    <div class="header">
        <h1>Rozpocznij test</h1>
    </div>

    <div class="code-box">
        <div class="code-input-box">
            <label class="input-label" >Kod</label>
            <input type="text" class="input"/>
        </div>

        <div class="code-input-box">
            <label class="input-label" >Nazwa użytkownika</label>
            <input type="text" class="input"/>
        </div>

        <button type="button">Rozpocznij test</button>
    </div>
</div>
