<div class="question-table">
    <table>
        <tr>
            <th>L.p.</th>
            <th>Pytanie</th>
            <th>Odpowiedź A</th>
            <th>Odpowiedź B</th>
            <th>Odpowiedź C</th>
            <th>Odpowiedź D</th>
            <th>Poprawna odpowiedź</th>
        </tr>

        @for (question of getQuestions(); track $index) {
            <tr (click)="selectQuestion($index)" 
            [ngStyle]="{'background-color': getValidColor($index), 'transition': 'background-color 0.1s ease, transform 0.1s'}"
            (mouseover)="setHoveredRow($index)"
            (mouseleave)="setHoveredRow(-1)">
                <td>{{ $index + 1 }}</td>
                <td>{{ question.content }}</td>
                        
                @for (answer of question.answers; track $index) {
                    <td>{{ answer }}</td>
                }

                <td>{{ question.correctAnswer }}</td>
            </tr>
        }
    </table>
</div>

<div class="question-edit-container" [formGroup]="questionFormGroup">
    <div class="question-edit-box question">
        <label class="question-input-label" >L.p.</label>
        <input type="text" class="question-input lp" readonly formControlName="index"/>

        <label class="question-input-label" >Pytanie</label>
        <input type="text" class="question-input" formControlName="content"/>
    </div>

    <div class="question-edit-row">
        <div class="question-edit-box answer">
            <div class="question-input-box">
                <label class="question-input-label">Odpowiedź A</label>
                <input type="radio" class="correct-answer-check" name="correctAnswer" formControlName="correctAnswer" value="a" checked>
            </div>
            <input type="text" class="question-input" formControlName="answerA" [readonly]="!isAnyQuestionSelected()"/>
        </div>

        <div class="question-edit-box answer">
            <div class="question-input-box">
                <label class="question-input-label">Odpowiedź B</label>
                <input type="radio" class="correct-answer-check" name="correctAnswer" formControlName="correctAnswer" value="b">
            </div>
            <input type="text" class="question-input" formControlName="answerB" [readonly]="!isAnyQuestionSelected()"/>
        </div>
    </div>

    <div class="question-edit-row">
        <div class="question-edit-box answer">
            <div class="question-input-box">
                <label class="question-input-label">Odpowiedź C</label>
                <input type="radio" class="correct-answer-check" name="correctAnswer" formControlName="correctAnswer" value="c">
            </div>
            <input type="text" class="question-input" formControlName="answerC" [readonly]="!isAnyQuestionSelected()"/>
        </div>

        <div class="question-edit-box answer">
            <div class="question-input-box">
                <label class="question-input-label">Odpowiedź D</label>
                <input type="radio" class="correct-answer-check" name="correctAnswer" formControlName="correctAnswer" value="d">
            </div>
            <input type="text" class="question-input" formControlName="answerD" [readonly]="!isAnyQuestionSelected()"/>
        </div>
    </div>

    <div class="button-row">
        <button type="button" class="modify-question-button" [disabled]="!isAnyQuestionSelected()">Usuń to pytanie</button>
        <button type="button" class="modify-question-button" (click)="saveSelectedQuestion()" [disabled]="questionFormGroup.invalid">Zapisz</button>
        <button type="button" class="modify-question-button" (click)="addNewQuestion()">Nowe pytanie</button>
    </div>
</div>