<div class="container">
    <div class="header">
        <h1>Logowanie</h1>
    </div>

    <div class="login-panel" [formGroup]="loginFormGroup">
        <input type="text" class="input-data" placeholder="Email" formControlName="email" />
        <input type="password" class="input-data" placeholder="Hasło" formControlName="password" />

        <button type="button" class="login-button" [disabled]="loginFormGroup.invalid" (click)="loginUser()">Zaloguj się</button>
        <a routerLink="../register" class="redirector">Nie masz konta? Zarejestruj się tutaj</a>

        <button type="button" class="redirect-to-test-page-button" routerLink="..">Strona głowna testów</button>
    </div>
</div>