<div class="test-table">
  <table>
    <tr>
      <th>L.p.</th>
      <th>Wykonawca</th>
      <th>Wynik</th>
      <th>Data rozpoczęcia</th>
      <th>Data zakończenia</th>
    </tr>

    @for (h of (history$ | async)?.history; track $index) {
    <tr (click)="goToSelectedAnswers(h.testHistoryId)">
      <td>{{ $index + 1 }}</td>
      <td>{{ h.username }}</td>
      <td>
        {{ h.score.earnedPoints }}/{{ h.score.maximumPoints }} ({{
          ((h.score.earnedPoints / h.score.maximumPoints) * 100).toFixed(2)
        }}%)
      </td>
      <td>{{ h.startDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
      <td>{{ h.finishDate | date:'dd.MM.yyyy HH:mm:ss' }}</td>
    </tr>
    }
  </table>
</div>

<h1>
  Kliknij w dane ukończenia testu, aby zobaczyć zaznaczone w nim odpowiedzi
</h1>
