<div class="test-table">
    <table>
        <tr>
            <th>L.p.</th>
            <th>Wykonawca</th>
            <th>Wynik</th>
            <th>Data rozpoczęcia</th>
            <th>Data zakończenia</th>
        </tr>

        @for (history of getTestHistory(); track $index) {
            <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ history.username }}</td>
                <td>{{ history.score.earnedPoints }}/{{ history.score.maximumPoints }} ({{ ((history.score.earnedPoints / history.score.maximumPoints) * 100).toFixed(2) }}%)</td>
                <td>{{ history.startDate }}</td>
                <td>{{ history.finishDate }}</td>
            </tr>
        }
    </table>
</div>
